<div class="hero-modules-bar">
    
    <span class="modules-status">// LOADING<span class="dots"></span></span>
    
    <div class="modules-line"></div>
    
    <div class="modules-tabs">
        <a href="#" class="module-tab" data-target="0">
            <span class="tab-icon gold">PY</span>
            <span class="tab-name">featured.py</span>
        </a>
        
        <a href="#" class="module-tab" data-target="1">
            <span class="tab-icon blue">PY</span>
            <span class="tab-name">stack.py</span>
        </a>
        
        <a href="#" class="module-tab" data-target="2">
            <span class="tab-icon ghost">MD</span>
            <span class="tab-name">method.md</span>
        </a>
        
        <a href="#" class="module-tab" data-target="3">
            <span class="tab-icon green">SH</span>
            <span class="tab-name">contact.sh</span>
        </a>
    </div>
</div>