{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Mykhailo Abasov">
    <meta name="description" content="{% block description %}{% endblock description %}">
    <meta name="keywords" content="{% block keywords %}django, python, architect{% endblock keywords %}">
    <title>{% block title %}{% trans "My Project" %}{% endblock title %}</title>

    <!-- CSS Order: Components -> Base -> Adaptive (Last one wins) -->
    <link rel="stylesheet" href="{% static 'css/components.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/base-adaptive.css' %}">


    {% block extra_head %}{% endblock extra_head %}

</head>
<body>
    <!-- Header (Tag inside include) -->
    {% include "includes/_header.html" %}

    <!-- Main Container with dynamic classes to avoid nesting -->
    <main class="layout-main {% block main_class %}{% endblock main_class %}">
        {% block content %}{% endblock content %}
    </main>

    <!-- Footer (Tag inside include) -->
    {% include "includes/_footer.html" %}

    {% include "includes/_drawers.html" %}

    <!-- Global Scripts -->
    <script src="{% static 'js/base.js' %}"></script>

    {% block extra_js %}{% endblock extra_js %}
</body>
</html>